/* line 1, ../sass/custom.scss */
.photo-box { margin: auto; background-color: #fff; width: 260px; height: 350px; color: red; font-size: 12px; text-align: center; font-style: italic; }

/* line 11, ../sass/custom.scss */
.ml-0 { margin-left: 0px; }

/* line 17, ../sass/custom.scss */
.radio-button, .checkbox { position: relative; margin: 20px 0; }

/* line 24, ../sass/custom.scss */
.checkbox { display: block; }

/* line 26, ../sass/custom.scss */
.radio-button input, .checkbox input { position: absolute; margin: 5px; padding: 0; /* for mobile accessibility (iOS Label Bug) */ visibility: hidden; }

/* line 34, ../sass/custom.scss */
.radio-button .label-visible, .checkbox .label-visible { margin-left: 2em; margin-bottom: 0; }

/* line 40, ../sass/custom.scss */
.fake-radiobutton, .fake-checkbox { position: absolute; display: block; top: 0; left: 3px; width: 20px; height: 20px; border: 1px solid slategray; background-color: white; }

/* line 51, ../sass/custom.scss */
.fake-radiobutton:after, .fake-checkbox:after { content: ""; display: none; position: absolute; top: 50%; left: 50%; width: 16px; height: 16px; background: #2ecc71; transform: translateX(-50%) translateY(-50%); }

/* line 64, ../sass/custom.scss */
.fake-radiobutton { border-radius: 50%; }

/* line 65, ../sass/custom.scss */
.fake-radiobutton:after { border-radius: 50%; }

/* line 67, ../sass/custom.scss */
input[type="radio"]:checked + span .fake-radiobutton:after, input[type="checkbox"]:checked + span .fake-checkbox:after { display: block; }

/* line 71, ../sass/custom.scss */
.lengkapi { display: inline-block; text-align: right; float: right; }

/*  ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) { /* line 82, ../sass/custom.scss */
  .radio-button, .checkbox { position: relative; margin: 15px 0 !important; display: block; }
  /* line 88, ../sass/custom.scss */
  .badge-inverse-danger { font-size: 13px; }
  /* line 92, ../sass/custom.scss */
  .lengkapi { display: block; text-align: left; float: none; } }
